<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Google Maps Multiple Markers</title>
  <script src="http://maps.google.com/maps/api/js?sensor=false"
          type="text/javascript"></script>
</head>
<body>
  <div id="map" style="width: 700px; height: 700px;"></div>

  <script type="text/javascript">
    var locations = [
        ['Chicago', 41.87, -87.62, 4],
        ['airport 1', 41.19, -86.39, 5],
        ['airport 2', 40.29, -85.39, 3],
        ['airport 3', 39.25, -83.47, 2],
        ['Raleigh', 35.51, -78.46, 1]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: new google.maps.LatLng(40, -85),
      mapTypeId: google.maps.MapTypeId.TERRAIN
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        icon: {path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
                scale: 5, fillOpacity: 1, fillColor: 'green'},
        draggable: true,
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
</body>
</html>
