{% extends 'clearskies_app/base.html' %}
{% load static %}
{% block title %}Welcome to ClearSkies{% endblock %}
{% block content %}
<div id="greeting">
  <h1>Test</h1>
</div>
<form method="post">
{% csrf_token %}
  <div class="ui-widget">
    <input type="text" name="start" class="tags">
    <input type="submit">
  </div>
</form>
<p>{{start}}</p>
<p>{{finish}}</p>
<script>
$( function() {
    var availableTags = [
      {% for airfield in airfields %}
      '{{airfield.identifier}}-{{airfield.name}}-{{airfield.city}}, {{airfield.state}}',
      {% endfor %}
    ];
    $( ".tags" ).autocomplete({
      source: availableTags,
      minLength: 3,
    });
  } );
</script>
<!-- <script src="{% static 'js/autocomp.js' %}"> -->
{% endblock %}
