{% extends 'clearskies_app/base.html' %}
{% load static %}
{% block title %}Welcome to ClearSkies{% endblock %}
{% block content %}
<form method="post">
{% csrf_token %}
  <ul class="ui-widget" id="legs">
    <li><input type="text" class="tags"></li>
  </ul>
  <!-- <input type="submit"> -->
  <ul>
    <li>
      <button id="addField">
        <img src="{% static 'img/plus_symbol.svg' %}">
        <span>ADD WAYPOINT</span>
      </button>
    </li>
    <li><input type="submit" class="submit" value="WHAT'S THE CEILING?"></li>
  </ul>
</form>

<script src="{% static 'js/planui.js' %}"></script>
{% endblock %}
