{% extends 'clearskies_app/base.html' %} {% block title %}Welcome to ClearSkies{% endblock %} {% block content %}
<div id="abc123">
    <h1>Welcome to ClearSkies!</h1>
    <h4>Have a safe flight.</h4>
    <!-- <input type="submit" value="Log In" class="button"> -->
    <br>
    <form id="plan" name="plan" action="/plan/" method="POST">
        Departure: {% csrf_token %}
        <input type="text" name="start" id="departure"> Arrival / Leg:
        <input type="text" name="finish" id="arrival_leg">
        <input type="submit">
    </form>
</div>

{% endblock %}
