@import 'https://fonts.googleapis.com/css?family=Changa';

body{
  margin: 0;
  font-family: 'Changa';
}
.wrapper{
  min-height: 100vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
}
.header, .footer{
  height: 50px;
  background: #666;
  color: #fff;
  font-family: 'Changa', sans-serif;
  text-align: center;
}

.header h2 {
  margin: auto;
  vertical-align: middle;
}
.content {
  display: flex;
  flex: 1;
  background: #999;
  color: #000;
}
.columns{
  display: flex;
  flex:1;
}
.main{
  flex: 1;
  order: 2;
  background: #eee;
}
.sidebar-first{
  width: 20%;
  background: #ccc;
  order: 1;
  padding: 2.5%;
}
.sidebar-second{
  width: 20%;
  order: 3;
  background: #ddd;
  padding: 2.5%;
  font-size: 10px;
}

#cber {
    width: 250px;
    height: 450px;
    overflow-y: scroll;
    overflow-x:hidden;
}

#corridor_width {
    font-size: 18;
}

.button {
  background-color: green;
  color: white;
  border-radius: 5px;
  font-family: 'Changa';
}

#start_over {
  background-color: red;
}
